this file is for web application
it is deployed on server {{ansible_nodename}}
Ip address of the host {{ansible_default_ipv4["address"]}}
host Node Name is {{ansible_nodename}}
host OS family is {{ansible_os_family}}
